<!-- * **************************************
* Header
* ************************************  -->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else { %>
    <h1>Page Not Found</h1>
<% } %>

<%- messages() %>

<p>You're logged in.</p>