<!-- * **************************************
* Header
* ************************************  -->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else { %>
    <h1>Page Not Found</h1>
<% } %>

<%- messages() %>

<form class="formulario" action="/account/login" method="post">
    <fieldset>
    <legend>Crendentials</legend>
    <label for="email-address">Email Address</label>
    <input type="email" name="account_email" id="email-address" required>
    <label for="password">Password</label>
    <input id="password" name="account_password" type="password" pattern="(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9])" minlength="12" maxlength="20" required>
    <p>Passwords must be minimun of 12 characters and include 1 capital letter, 1 number and 1 special character.</p>
    <button id="btn-show-password" type="button"> Show Password</button>
    <button id="login" type="submit">Login</button>
    </fieldset>
    <label id="no-account" for="sing-up">No account? <a  id="sing-up" href="/account/register">Sing up</a></label>
</div>
   


<script>
    const togglePasswordBtn = document.getElementById("btn-show-password");
    const passwordInput = document.getElementById("password");
  
    togglePasswordBtn.addEventListener("click", () => {
      const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
      passwordInput.setAttribute("type", type);
  
      // Update button text
      togglePasswordBtn.textContent = type === "password" ? "Show Password" : "Hide Password";
    });
  </script>