<!-- * **************************************
* Header
* ************************************  -->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else { %>
    <h1>Page Not Found</h1>
<% } %>

<% messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form id="registerForm" class="formulario" action="/account/register" method="post">
    <fieldset>
      <legend>All Fields are Required</legend>
      <label for="account-firstname">First name:</label>
      <input type="text" name="account_firstname" id="account-firstname" required autocomplete="off" >
      <label for="account-lastname">Last name:</label>
      <input type="text" name="account_lastname" id="account-lastname" required autocomplete="off">
      <label for="email-address">Email Address</label>
      <input type="email" name="account_email" id="email-address" required autocomplete="off">
      <label for="password">Password</label>
      
      <input id="password" name="account_password" 
        type="password" 
        pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{12,20}$"
        minlength="12" 
        maxlength="20" 
        required
        >
      <p>Passwords must be minimun of 12 characters and include 1 capital letter, 1 number and 1 special character.</p>
      <button id="btn-show-password" type="button"> Show Password</button>
      <button id="login" type="submit">Register</button>
    </fieldset>
    
</div>
  



<script>


    const togglePasswordBtn = document.getElementById("btn-show-password");
    const passwordInput = document.getElementById("password");
  
    togglePasswordBtn.addEventListener("click", () => {
      const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
      passwordInput.setAttribute("type", type);
  
      // Update button text
      togglePasswordBtn.textContent = type === "password" ? "Show Password" : "Hide Password";
    });

  </script>