<section id="heroImage">
  <p>Welcome to CSE Motors !</p>
  <img src="/images/vehicles/delorean-removebg-preview.png" alt="" />
  <div id="carFeatures">
    <ul>
      <li>DMC Delorean</li>
      <li>3 Cup Holders</li>
      <li>Superman Doors</li>
      <li>Fuzzy Dice!</li>
    </ul>
    <button>Own Today</button>
  </div>
</section>

<div id="container">
  <section id="upgrades">
    <h1>Delorean Upgrades</h1>
    <div id="galery">
      <figure>
        <img src="/images/upgrades/flux-cap.png" alt="Image 3" />
        <figcaption><a href="#">Flux Capacitor</a></figcaption>
      </figure>
      <figure>
        <img src="/images/upgrades/flame.jpg" alt="Image 2" />
        <figcaption><a href="#">Flame Decals</a></figcaption>
      </figure>
      <figure>
        <img src="/images/upgrades/bumper_sticker.jpg" alt="Image 1" />
        <figcaption><a href="#">Bumper Stickers</a></figcaption>
      </figure>
      <figure>
        <img src="/images/upgrades/hub-cap.jpg" alt="Image 4" />
        <figcaption><a href="#">Hub Caps</a></figcaption>
      </figure>
    </div>
  </section>

  <aside id="reviews">
    <h1>DMC Delorean Reviews</h1>
    <ul>
      <li>"So fast it's almost like travelling in time." (4/5)</li>
      <li>"Coolest ride on the road. (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </aside>
</div>
